
body {
  font-family: sans-serif;
  margin:auto;
  padding: 0;
  background-color: gray;
  max-width: 100%;
}

.parent {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 1.5fr ;
  gap:60px;
  margin: 40px;
  justify-content: space-around;
}

.item {
  background-color:rgb(36, 33, 33);
  padding: 20px;
  font-size: 0.77rem;
  color: white;
  border-radius: 20px;
}

.item:nth-child(1) {
  grid-row: span 3;
  height: 700px;
  width: 500px;
}

.item:nth-child(2) {
    font-size: 20px;
    grid-column: span 3;
    width: 900px;
    height: 50px;
    display: grid;
    justify-self: center;
    align-content: center;
  }

.item:nth-child(3) {
    height: 175px;
  }

.item:nth-child(4) {
    height: 175px;
  }

.item:nth-child(5) {
    height: 175px;
  }

.item:nth-child(6) {
    grid-column-end: span 3;
    height: 200px;
  }

nav{
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(8, 8, 8);
    color: white;
    font-size: 50px;
}
